<h1>Ma todolist</h1>
<% if (messages) {
	var i = 0;
	messages.forEach(function(el, index) { %>
		<li><a href="/remove/<%= i %>">X</a>&nbsp;<%= el %></li>
   <%
   i++;
	}) 
}%>
<form action="add" method="post">
    <div>
        <label for="email">Que dois-je faire ?</label>
        <input type="text" id="todo" name="todo"></input>
    </div>
<input type="submit" value="Submit"></input>
</form>
