<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../page/html/head %>
</head>
<body class="container">

    <header>
        <% include ../page/html/header %>
    </header>

    <main>
       <%- body %>
    </main>

    <footer>
        <% include ../page/html/footer %>
    </footer>
    
</body>
</html>