<form class="row col-lg-12" action="<%- action %>" method="POST">
	  <div id="general" class="tab-pane fade in active">
	    	<%- form.fields.code.toHTML() %>
	    	<%- form.fields.type.toHTML() %>
	  </div>

</form>

<script>
	var job = new JobForm({});
</script>
