<form class="row col-lg-12" action="<%- action %>" method="POST">
	  <div id="general" class="tab-pane fade in active">
	    	<%- form.fields.sku.toHTML() %>
	  </div>
	  <label for="product-set-family">Family: </label>
	  <input id="product-set-family" />
	  <input type="hidden" id="product-family-id" name="family" />
	  <input type="submit" value="Save" />
</form>

<script>
	var product = new ProductForm({});
</script>
