	<div class="row">
		<div class="btn-group pull-right" role="group">
		  <a class="btn btn-default" href="javascript:history.go(-1)">Back	</a>
		  <input class="btn btn-default" type="submit" />
		</div>
	</div>
	
	<div class="tab-content">
	  <div id="general" class="tab-pane fade in active">
	    	
	  </div>
	</div>

	<script type="text/javascript">
		var execution = new Execution("<%- protocol %>://<%- host %>:<%- port %>");
	</script>
