	<div class="row">
		<div class="btn-group pull-right" role="group">
		  <a class="btn btn-default" href="javascript:history.go(-1)">Back	</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    	<h3 class="panel-title">Execution of <i><%- jobCode %></i></h3>
	  </div>
	  <div class="panel-body">
	  	<ul>
	  		<li>Readed <span class="badge" id="execution-read">0</span></li>
	  		<li>Updated <span class="badge" id="execution-update">0</span></li>
	  		<li>Created <span class="badge" id="execution-create">0</span></li>
	  		<li>In Error <span class="badge" id="execution-error">0</span></li>
	  	</ul>
	  </div>
	</div>
	<div class="tab-content">
	  <div id="general" class="tab-pane fade in active">&nbsp;</div>
	</div>
	<script type="text/javascript">
		var execution = new Execution("<%- protocol %>://<%- host %>:<%- port %>");
	</script>