<form class="row col-lg-12" action="<%- action %>" method="POST">
	  <div id="general" class="tab-pane fade in active">
	    	<%- form.fields.code.toHTML() %>
	  </div>
	  <input type="submit" value="Save" />
</form>

